<footer class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="footer__inner">

        <div class="footer__information">
            <!--Contacts-->
            <div class="footer__contacts">
                <!--phone-->
                <div class="footer__tel">
                    <p class="footer__tel-name">Телефон</p>
                    <p class="footer__tel-number">
                        <a href="tel:+375123456789">+375 12 345 67 89</a>
                    </p>
                </div>
                <!--email-->
                <div class="footer__email">
                    <p class="footer__email-name">Email</p>
                    <p class="footer__email-address">
                        <a href="ourmail@gmail.com">ourmail@gmail.com</a>
                    </p>
                </div>
            </div>
            <!--Social media-->
            <div class="footer__socialmedia">
                <div class="footer__socialmedia-item footer__tik-tok" onclick= "alert('Кнопка нажата')">
                </div>

                <div class="footer__socialmedia-item footer__vk" onclick= "alert('Кнопка нажата')">
                </div>

                <div class="footer__socialmedia-item footer__telegram" onclick= "alert('Кнопка нажата')" >
                </div>
            </div>
        </div>

        <!--footer logo-->
        <div class="footer__logo">
            Super Quiz
        </div>
    </div>
</footer>

<!-- JS FOR DROPDOWN -->
<script src="../libs/itc/itc-custom-select.js"></script>

<!-- MAIN JS -->
<script src="../js/main.min.js"></script>
</body>
</html>